<html>
    <head>
        <title>Web-сервис</title>
    </head>
    <body>
    	<p>
    	{% if user.is_authenticated %}
    	    <p align="right">
                Вы вошли как {{ user.first_name }} {{ user.last_name }}
                {% if user.is_staff %}
                    <p align="right"><a href="/admin/">Админпанель</a></p>
                {% endif %} 
            </p>
            <p align="right">
                <a href="{% url 'users:logout' %}"> Выход</a>
            </p>
        {% else %}
            <a href="{% url 'users:login' %}" > Вход</a>
        {% endif %}
        {% block content %}
        {% endblock %}
    </body>
</html>