{% extends 'myapp/base.html' %}
{% block content %}
<html>
    <head>
    </head>
    <body>
        <div align="center">
            <form method="POST">{% csrf_token %}
    	        <h2 align="center">Вы уверены, что хотите удалить данную позицию?</h2>
                <button type="submit">Удалить</button>
                <button type="button" onClick='location.href="{% url 'demand_detail' id_demand=demand.id %}"'>Отменить</button>
            </form>
        </div>
    </body>
</html>
{% endblock %}